<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb mb-2">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="events.html">Home</a></li>
            <li class="list-inline-item text-white h3 font-secondary nasted">List Classes</li>
          </ul>
          <p class="text-lighten mb-0">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->
  
  <!-- event single -->

  <!-- /event single -->
  
  <!-- more event -->
  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">List Classes</h2>
        </div>
      </div>
      <div class="row justify-content-center">
    <!-- event -->
    <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0" *ngFor="let p of classes"> 
      <div class="card border-0 rounded-0 hover-shadow">
        <div class="card-img position-relative">
          <img class="card-img-top rounded-0" src="assets/images/events/event-1.jpg" alt="event thumb">
          <div class="card-date"><span>18</span><br>December</div>
        </div>
        <div class="card-body">    
          <!-- location -->
          <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
          <a href="event-single.html"><h4 class="card-title">Nom: {{p.nom}}</h4></a>
        </div>
      </div>
    </div>  
    
    
  </div>
    </div>
  </section>
  <!-- /more event -->
  